<div class="row ">
    <div class="col-md-2">
        <app-admin></app-admin>
    </div>
    <div class="card col-md-10 mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 5%"></th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Miktar</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderDetail of orderDetails;let i = index;let sum=index" [attr.data-index]="i"
                    [attr.data-index]="sum">
                    <td class="border-2 text-center">{{i+1}}</td>
                    <td>{{orderDetail.productName}}</td>
                    <td>{{orderDetail.price}}</td>
                    <td>{{orderDetail.quantity}}</td>
                    <td>{{orderDetail.orderStatusName}}</td>                    
                    <!-- <td class="text-center"><button class="btn btn-success btn-sm">Güncelle</button></td>
                    <td class="text-center"><button class="btn btn-danger btn-sm">Sil</button></td> -->
                </tr>    
            </tbody>
        </table>
    </div>
</div>