<div class="row ">
    <div class="col-md-2">
        <app-admin></app-admin>
    </div>
    <div class="card col-md-10 mt-2">
        <a href="/admin/productAdd" class="btn btn-primary w-25" >Yeni Ürün EKle</a>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 5%"></th>
                    <th>Ürün Adı</th>
                    <th>Kategori Adı</th>
                    <th>Fiyat</th>
                    <th>Stok</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productDetails;let i = index;let sum=index" [attr.data-index]="i"
                    [attr.data-index]="sum">
                    <td class="border-2 text-center">{{i+1}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.categoryName}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.unitsInStock}}</td>                    
                    <td class="text-center"><button class="btn btn-success btn-sm" routerLink="/admin/productUpdate/{{product.id}}">Güncelle</button></td>
                    <td class="text-center"><button class="btn btn-danger btn-sm" (click)="delete(product.id)">Sil</button></td>
                </tr>    
            </tbody>
        </table>
    </div>
</div>