
<style>
    .btn{
        width: 200px;
        height: 120px;
    }
</style>


<div class="px-4 mt-5" *ngIf="storeBill">
    <div class="row col ">
      <div class="col p-4 t"  *ngFor="let table of tables" >   
        <button type="button" name="btnn" class="btn btn-lg btn-block btn-danger" *ngIf="table.tableStatusId==2" routerLink="/waiter/tableOrderDetail/{{table.id}}">
           {{table.tableName}} 
        </button> 
        <button type="button" name="btnn"  class="btn btn-lg btn-block btn-outline-danger" *ngIf="table.tableStatusId==1"
        routerLink="/waiter/tableOrderDetail/{{table.id}}">
            {{table.tableName}} 
         </button> 
      </div>     
    </div>
  </div>
  <div class="px-4 mt-5 text-center" *ngIf="!storeBill"><h1>Günlük Hesap Henüz Açılmadı</h1></div>