<div class="row ">
    <div class="col-md-2">
        <app-admin></app-admin>
    </div>
    <div class="card col-md-10 mt-2">
        <div class="card-header">Kullanıcı Güncelle</div>
        <form class="" [formGroup]="updateForm">
            <div class=" col-md-8 alert">                   
                    <div class="col-auto mt-2 w-25 ">
                        <label for="firstName">Adı</label>
                        <div class="form-group"><input type="text" id="firstName" formControlName="firstName" class="form-control"
                                placeholder="Adı" />
                        </div>
                    </div>
                    <div class="col-auto mt-2 w-25 ">
                        <label for="lastName">Soyadı</label>
                        <div class="form-group"><input type="text" id="lastName" formControlName="lastName" class="form-control"
                                placeholder="Soyadı" />
                        </div>
                    </div>
                    <div class="col-auto mt-2 w-25 ">
                        <label for="lastName">Email</label>
                        <div class="form-group"><input type="text" id="email" formControlName="email" class="form-control"
                                placeholder="Email" />
                        </div>
                    </div>
                    <div class="col-auto mt-2 w-25 ">
                        <label for="password">Şifre</label>
                        <div class="form-group"><input type="text" id="password" formControlName="password" class="form-control"
                                placeholder="password" />
                        </div>
                    </div>
                    <div class="col-auto mt-2  ">
                        <label for="operationClaimId">Yetki Türü</label>
                        <div class="form-group">
                            <select class="form-control" id="operationClaimId" formControlName="operationClaimId" style="width:120px;">
                                <option>Kategori</option>
                                <option *ngFor="let operationClaim of operationClaims" [value]="operationClaim.id">{{operationClaim.name}}</option>
                            </select>
                        </div>
                    </div>                  
                
               
                <div class="mx-auto pb-auto" style="width:100px;">
                    <button class="btn btn-fill  btn-primary" (click)="update()">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>